 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1280px;
	 height: 859px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Background 
{ 
	 left: 0px; 
	 top: 7px; 
	 position: absolute; 
	 width: 1280px;
	 height: 859px;
	 z-index:1;
} 

 #logokodakmomentspng 
{ 
	 left: 679px; 
	 top: 166px; 
	 position: absolute; 
	 width: 410px;
	 height: 44px;
	 z-index:2;
} 

 #CopiadeObject1 
{ 
	 left: 91px; 
	 top: 192px; 
	 position: absolute; 
	 width: 1108px;
	 height: 580px;
	 z-index:3;
} 

 #Shadow 
{ 
	 left: 1069px; 
	 top: 469px; 
	 position: absolute; 
	 width: 211px;
	 height: 317px;
	 z-index:4;
} 

 #Object 
{ 
	 left: 1092px; 
	 top: 520px; 
	 position: absolute; 
	 width: 127px;
	 height: 209px;
	 z-index:5;
} 
